/* src/assets/css/app.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

$--color-primary: FB3640 !default;
/* $--color-success: $green !default;
$--color-danger: $red !default; */

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Graphik', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #ffffff;
  overflow: hidden;
}

.field-group {
  @apply flex flex-col gap-1;
}

.field-label {
  @apply text-md text-gray-700;
}

.field-error {
  @apply text-sm text-red-600;
}

.field-caption {
  @apply text-xs text-gray-500;
}

/* DEFAULT LAYOUTS */
.default-layout {
  @apply w-full h-screen;
}

.default-layout .mobile-only {
  display: none !important;
}

.default-layout .desktop-only {
  display: flex !important;
}

@media (max-width: 768px) {
  .default-layout .mobile-only {
    display: flex !important;
  }

  .default-layout .desktop-only {
    display: none !important;
  }
}

.default-layout .header {
  @apply relative top-0 left-0 px-2 flex items-center justify-between w-full bg-white border-b border-gray-200 overflow-hidden;
  height: 60px;
}

.default-layout .header .title {
  @apply text-2xl text-black font-semibold;
}

@media (max-width: 768px) {
  .default-layout .header .title {
    display: none;
  }
}

.default-layout .header .logo {
  height: 32px;
}

.default-layout .header .divider {
  @apply bg-gray-200;
  width: 1px;
  height: 32px;
}

.default-layout .content {
  @apply relative w-full flex;
  height: calc(100vh - 60px);
}

@media (max-width: 768px) {
  .default-layout .content {
    height: calc(100vh - 120px);
  }
}

.default-layout .sidebar {
  @apply sticky left-0 top-0 h-full bg-white border-r border-gray-200 overflow-y-auto;
  width: 84px;
  left: 0;
}

.default-layout .sidebar .back-to-shop {
  @apply w-full border border-gray-200;
}

.default-layout .sidebar .back-to-shop__icon {
  @apply text-lg text-vermillion-500;
}

.default-layout .sidebar .back-to-shop__label {
  @apply text-sm text-gray-700;
  display: none;
}

.default-layout.collapse .sidebar {
  width: 280px;
}

.default-layout.collapse .sidebar .back-to-shop__label {
  display: block;
}

.default-layout .sidebar .header {
  @apply sticky top-0 bg-white flex items-center justify-between gap-2 w-full px-4 border-b border-gray-200;
  height: 60px;
}

@media (max-width: 768px) {
  .default-layout .sidebar {
    @apply fixed top-0;
    width: 280px;
    left: -280px;
    z-index: 999;
  }

  .default-layout.collapse .sidebar {
    left: 0;
  }

  .default-layout.mobile-collapse .sidebar {
    left: 0;
  }

  .default-layout.collapse .sidebar .back-to-shop__label {
    display: block;
  }
}

.default-layout .viewer {
  @apply h-full overflow-y-auto;
  width: calc(100% - 84px);
}

.default-layout.collapse .viewer {
  width: calc(100% - 280px);
}

@media (max-width: 768px) {
  .default-layout .viewer,
  .default-layout.collapse .viewer {
    @apply w-full;
  }

  .default-layout.mobile-collapse .viewer {
    @apply w-full;
  }

}

.default-layout .menu {
  @apply flex gap-2 justify-center items-center px-4 rounded-lg;
  min-width: 48px;
  height: 48px;
}

.default-layout .menu .icon {
  @apply text-gray-700;
  font-size: 14px;
}

.default-layout .menu .label {
  @apply text-gray-500;
  font-size: 12px;
}

.default-layout .menu:hover {
  @apply bg-gray-100 cursor-pointer;
}

.default-layout .menu.router-link-active {
  @apply bg-vermillion-100;
}

.default-layout .menu.router-link-active .icon {
  @apply text-vermillion-500;
}

.default-layout .menu.router-link-active .label {
  @apply text-vermillion-500;
}

.default-layout .navbar {
  @apply flex items-center overflow-hidden;
  height: 60px;
}

.default-layout .navbar .menu {
  min-width: 36px;
  height: 36px;
}

.default-layout .navbar .menu .label {
  display: none;
}

@media (max-width: 768px) {
  .default-layout .navbar {
    @apply fixed bottom-0 left-0 w-full flex justify-around bg-white border-t border-gray-200;
    top: unset;
  }

  .default-layout .navbar .menu {
    @apply flex-1 flex-col w-full rounded-none;
    height: 60px;
  }

  .default-layout .navbar .menu .label {
    font-size: 10px;
    display: block;
  }
}

.default-layout .subnavbar {
  @apply sticky top-0 bg-white z-10 border-b border-gray-200 w-full h-xl flex items-center justify-between px-4;
}

.default-menu {
  @apply flex flex-col gap-1;
}

.default-menu .menu-item {
  @apply relative px-2 rounded-lg flex gap-2 items-center w-full;
  height: 48px;
}

.default-menu .menu-item.small {
  height: 36px;
}

.default-menu .menu-item .icon {
  @apply flex justify-center text-gray-700;
  font-size: 16px;
  width: 22px;
}

.default-menu .menu-item .label {
  @apply flex-1 text-gray-500;
  font-size: 12px;
}

.default-menu .menu-item:hover {
  @apply bg-gray-100 cursor-pointer;
}

.default-menu .menu-item.router-link-active {
  @apply bg-vermillion-100;
}

.default-menu .menu-item.router-link-active .icon {
  @apply text-vermillion-500;
}

.default-menu .menu-item.router-link-active .label {
  @apply text-vermillion-500;
}

.default-layout .sidebar .default-menu .menu-item {
  @apply justify-center;
}

.default-layout .sidebar .default-menu .menu-item .label {
  display: none;
}

.default-layout .sidebar .default-menu .menu-item .counter {
  @apply absolute;
  right: -4px;
  top: -4px;
}

.default-layout.collapse .sidebar .default-menu {
  @apply w-full;
}

.default-layout.collapse .sidebar .default-menu .menu-item {
  @apply flex justify-start w-full;
}

.default-layout.collapse .sidebar .default-menu .menu-item .icon {
  font-size: 22px;
}

.default-layout.collapse .sidebar .default-menu .menu-item .label {
  display: block;
}

.default-layout.collapse .sidebar .default-menu .menu-item .counter,
.default-layout.mobile-collapse .sidebar .default-menu .menu-item .counter {
  @apply relative right-0 top-0;
}

.default-layout.mobile-collapse.collapse .sidebar .default-menu {
  @apply w-full;
}

@media (max-width: 768px) {
  .default-layout.collapse .sidebar .default-menu {
    @apply w-full;
  }

  .default-layout.collapse .sidebar .default-menu .menu-item {
    height: 48px;
  }

  .default-layout .sidebar .default-menu .menu-item .label,
  .default-layout .sidebar .default-menu .menu-item .counter,
  .default-layout.collapse .sidebar .default-menu .menu-item .label,
  .default-layout.collapse .sidebar .default-menu .menu-item .counter,
  .default-layout.mobile-collapse .sidebar .default-menu .menu-item .label,
  .default-layout.mobile-collapse .sidebar .default-menu .menu-item .counter {
    display: block;
  }

  .default-layout .sidebar .default-menu .menu-item .counter {
    @apply relative right-0 top-0;
  }
}

.default-layout-form {
  @apply flex w-full;
}

.default-layout-form__content {
  @apply flex-1 flex flex-col gap-4 p-4 overflow-y-auto;
  height: calc(100vh - 60px);
}

.default-layout-form__sidebar {
  @apply sticky top-0 right-0 bg-white border-l border-gray-200 overflow-y-auto shadow-lg transition-all duration-300 ease-in-out;
  width: 380px;
  min-width: 380px;
  height: calc(100vh - 60px);
}

.default-layout-form__close {
  display: none;
}

@media (max-width: 1024px) {
  .default-layout-form__sidebar {
    @apply fixed top-0 border-none z-10;
    right: -420px;
    width: 420px;
    min-width: 420px;
    height: 100vh;
  }

  .default-layout-form__sidebar--show {
    @apply shadow-lg transition-all duration-300 ease-in-out;
    right: 0;
  }

  .default-layout-form__close {
    display: block;
  }
}

@media (max-width: 768px) {
  .default-layout-form__content {
    @apply w-full;
    height: calc(100vh - 120px);
  }

  .default-layout-form__sidebar {
    right: -100%;
    width: 100%;
    min-width: 100%;
  }

  .default-layout-form__sidebar--show {
    @apply shadow-none transition-all duration-300 ease-in-out;
    right: 0;
  }

  .default-layout-form__close {
    display: block;
  }
}

.cart-popup {
  @apply sticky w-full bottom-0 right-0 z-5;
  display: none;
}

@media (max-width: 1024px) {
  .cart-popup {
    display: block;
  }
}

.card-toast {
  @apply fixed top-0 left-0 w-full;
  z-index: 999;
}

.card-toast-content {
  @apply mx-auto bg-white flex justify-center items-center p-4 rounded-lg transition duration-300 ease-in-out;
  width: 320px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.default-dialog {
  @apply fixed top-0 left-0 right-0 bottom-0 bg-black w-screen h-screen flex justify-center items-center p-4 transition duration-300 ease-in-out;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
}

.default-dialog .dialog-container {
  @apply rounded-lg shadow-lg bg-white max-h-full overflow-auto;
}

.default-dialog .dialog-container .dialog-content {
  @apply p-4 w-full flex flex-col gap-4;
}

.default-dialog .dialog-container .dialog-header,
.default-dialog .dialog-container .dialog-footer {
  @apply p-4 w-full flex items-center justify-between bg-white z-10;
}

.default-dialog .dialog-container .dialog-header {
  @apply sticky top-0 left-0 border-b border-gray-200 py-2;
}

.default-dialog .dialog-container .dialog-footer {
  @apply sticky bottom-0 left-0 border-t border-gray-200;
}

/* Custom Element UI */
.el-button--primary {
  @apply bg-vermillion-500 border-vermillion-500;
}

.el-button--primary:hover,
.el-button--primary:focus {
  @apply bg-vermillion-600 border-vermillion-600;
}

.el-button--primary.is-disabled,
.el-button--primary.is-disabled:hover {
  @apply bg-vermillion-300 border-vermillion-300 outline-none;
}

.el-button--default {
  @apply bg-white border-gray-300 text-gray-700;
}

.el-button--default:hover,
.el-button--default:focus {
  @apply bg-vermillion-100 border-vermillion-300 outline-none text-vermillion-500;
}

.el-button--default.is-disabled,
.el-button--default.is-disabled:hover {
  @apply bg-white border-gray-300 text-gray-400;
}

.el-radio-button__inner {
  @apply border-gray-200;
}

.el-radio-button__orig-radio:checked + .el-radio-button__inner {
  @apply bg-vermillion-100 border-gray-200 text-vermillion-500;
  box-shadow: none;
}

.el-radio-button__orig-radio:checked:hover + .el-radio-button__inner {
  @apply text-vermillion-500;
}

.el-radio-button:first-child .el-radio-button__inner {
  @apply border-gray-200;
}

.el-radio-button .el-radio-button__inner:hover {
  @apply text-vermillion-500;
}

.el-switch.is-checked .el-switch__core {
  @apply bg-vermillion-500 border-vermillion-500;
}

.el-switch__label * {
  @apply text-xs font-normal;
}

.el-switch__label.is-active {
  @apply text-vermillion-500;
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
  @apply bg-vermillion-500 text-white;
}

.el-pagination.is-background .el-pager li:not(.disabled).active:hover {
  @apply text-white;
}

.el-pagination.is-background .el-pager li:not(.disabled):hover {
  @apply text-vermillion-500;
}

.el-loading-spinner {
  @apply flex justify-center;
}

.el-loading-spinner .circular {
  @apply border-vermillion-500;
}